<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper2.SearchMapper">
    <select id="selectHotSearchWords" resultType="java.lang.String">
            SELECT
            hot_word AS hotWord
            FROM search_hot_word_game
    </select>
</mapper>